<!DOCTYPE html>
<title>ChronoMingle</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>

<body>
  <div class="full-body-container">
    <div class="logo-container">
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        alt="Logo"
      />
    </div>
    <div class="results-container">
      <div id="answer-box"></div>
    </div>
    <div>
      <a href="/"><button class="button">Back To Home</button></a>
    </div>
  </div>

  <script>
    function answerBoxTemplate(
      name,
      description,
      imageUrl,
      gender,
      profession,
      trendsScore = "", //add later
      reasoning = ""
    ) {
      return `
                <div class='actor-info'>
                    <div class="text-content">
                        <h3 class='actor-name'>${name}</h3>
                        <p class='actor-gender'>Gender: ${gender}</p>
                        <p class='actor-gender'>Profession: ${profession}</p>
                        <p>Popularity Score: ${trendsScore}</p>
                        <p>Why You're A Match: ${reasoning}</p>
                        <p class='actor-desc'>${description}</p>
                    </div>
                    <img src="${imageUrl}" alt="Image of ${name}">
                </div>
            `;
    }

    function filterText() {
      const data = localStorage.getItem("data");
      console.log(data);

      let output = JSON.parse(data);
      output.forEach((row) => {
        let tempDiv = document.createElement("div");
        let firstSentenceRegex = /^.*?[.!?](?=\s|$)/;
        let firstSentence =
          row["Wikipedia Summary"].match(firstSentenceRegex)[0];
        tempDiv.innerHTML = answerBoxTemplate(
          row["Celebrity Name"],
          firstSentence,
          row["Image URL"],
          row["gender"],
          row["profession"],
          row["Interest Score"]
        );
        document.getElementById("answer-box").appendChild(tempDiv);
      });
    }
    window.addEventListener("load", function () {
      filterText();
    });
  </script>
</body>
