<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<div class="tinder">


  <div class="cards">
    <div class="card">
      <img src="rpatz.jpeg">
      <h3>card 1</h3>
    </div>
    <div class="card">
      <img src="rpatz.jpeg">
      <h3>card 2</h3>
    </div>
    <div class="card">
      <img src="rpatz.jpeg">
      <h3>card 3</h3>
    </div>
    <div>
      <button onclick="goToOutput()">Get Your Results!</button>
    </div>



  </div>

  <script>
    'use strict';

    var tinderContainer = document.querySelector('.tinder');
    var allCards = document.querySelectorAll('.card');

    function initCards(card, index) {
      var newCards = document.querySelectorAll('.card:not(.removed)');

      newCards.forEach(function (card, index) {
        card.style.zIndex = allCards.length - index;
        card.style.transform = 'scale(' + (20 - index) / 20 + ') translateY(-' + 30 * index + 'px)';
        card.style.opacity = (10 - index) / 10;
      });

      tinderContainer.classList.add('loaded');
    }

    initCards();

    // allCards.forEach(function (el) {
    //   var hammertime = new Hammer(el);

    //   hammertime.on('pan', function (event) {
    //     el.classList.add('moving');
    //   });

    //   hammertime.on('pan', function (event) {
    //     if (event.deltaX === 0) return;
    //     if (event.center.x === 0 && event.center.y === 0) return;

    //     tinderContainer.classList.toggle('tinder_love', event.deltaX > 0);
    //     tinderContainer.classList.toggle('tinder_nope', event.deltaX < 0);

    //     var xMulti = event.deltaX * 0.03;
    //     var yMulti = event.deltaY / 80;
    //     var rotate = xMulti * yMulti;

    //     event.target.style.transform = 'translate(' + event.deltaX + 'px, ' + event.deltaY + 'px) rotate(' + rotate + 'deg)';
    //   });


    //});
  
    function getOrgOutput() {
      const data = localStorage.getItem("data");
      return data

    }

    function goToOutput() {
      window.location.href = "/output";
    }

  </script>


</html>