<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swipe Cards</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    .tinder {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .buttons {
      margin-top: 20px;
    }

    button {
      margin: 0 10px;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #resultsButton,
    #swipeLeftButton,
    #swipeRightButton {
      display: none;
    }

    .swipe-count {
      position: absolute;
      top: 10px;
      /* Adjust the top position as needed */
      left: 10px;
      /* Adjust the right position as needed */
      background-color: rgba(255, 255, 255, 0.8);
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card {
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 300px;
      text-align: center;
      display: block;
    }

    .card img {
      max-width: 100%;
      border-radius: 10px;
    }

    .container {
      padding: 2px 16px;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
</head>

<body>
  <div class="tinder">
    <div class="cards" id="cardsContainer">
    </div>
    <div class="buttons">
      <img src="/static/images/dislike.png" alt="Dislike" class="button-image dislike-image">
      <button id="swipeLeftButton" onclick="swipeLeft()">Swipe Left</button>
      <button id="swipeRightButton" onclick="swipeRight()">Swipe Right</button>
      <img src="/static/images/like.png" alt="Like" class="button-image like-image">
      <button id="resultsButton" onclick="submitSwipesAndCheckResults()">Get Your Results!</button>
    </div>
    <div id="swipeCount" class="swipe-count">Swipe count: 0</div>
  </div>
  <div class="progress-container">
    <div id="progressBar" class="progress-bar"></div>
  </div>

  <script>
    'use strict';

    var cardsContainer = document.getElementById('cardsContainer');
    var swipeCountElement = document.getElementById('swipeCount');
    var cardsData = [];
    var currentCardIndex = 0;
    var swipeCount = 0;
    var maxSwipes = 15;

    function createCard(cardData) {
      let cardElement = document.createElement('div');
      cardElement.className = 'card';
      cardElement.innerHTML = `
    <img src="/static/images/dislike.png" class="swipe-indicator left" style="display:none;">
    <div class="container">
      <h4><b>${cardData['Celebrity Name']}</b></h4>
      <p>Profession: ${cardData.profession}</p>
    </div>
    <img src="/static/images/like.png" class="swipe-indicator right" style="display:none;">
  `;

      let hammer = new Hammer(cardElement);
      hammer.on('swipeleft', function () {
        swipeLeft();
        // showSwipeIndicator('left');
      });
      hammer.on('swiperight', function () {
        swipeRight();
        // showSwipeIndicator('right');
      });

      return cardElement;
    }

    function fetchAndDisplayMatches() {
      const query = localStorage.getItem('query');
      if (!query) {
        cardsContainer.innerHTML = '<div class="error-message"><p>No query found. Please <a href="/">start a new search</a>.</p></div>';
        return;
      }
      fetch(`/actors?query=${encodeURIComponent(query)}`)
        .then(response => response.json())
        .then(data => {
          if (data.length > 0) {
            cardsData = data;
            document.getElementById('swipeLeftButton').style.display = 'inline';
            document.getElementById('swipeRightButton').style.display = 'inline';
            displayNextCard();
          } else {
            cardsContainer.innerHTML = '<div class="error-message"><p>No matches found. Please <a href="/new-search">try a different query</a>.</p></div>';
          }
        });
    }

    function showSwipeIndicator(direction) {
      const indicator = direction === 'left' ? 'left' : 'right';
      const swipeIndicator = document.querySelector('.swipe-indicator.' + indicator);
      swipeIndicator.style.display = 'block';
      setTimeout(() => swipeIndicator.style.display = 'none', 500);
    }


    function displayNextCard() {
      if (currentCardIndex < cardsData.length) {
        const cardData = cardsData[currentCardIndex];
        const cardElement = createCard(cardData);
        cardsContainer.innerHTML = '';
        cardsContainer.appendChild(cardElement);
      }
    }
    function swipeLeft() {
      if (currentCardIndex < cardsData.length) {
        // showSwipeIndicator('left');
        let celebName = cardsData[currentCardIndex]['Celebrity Name'];
        let dislikes = JSON.parse(localStorage.getItem('dislikedCelebrities') || '[]');
        dislikes.push(celebName);
        localStorage.setItem('dislikedCelebrities', JSON.stringify(dislikes));

        moveToNextCard();
      }
    }

    function swipeRight() {
      if (currentCardIndex < cardsData.length) {
        // showSwipeIndicator('right');
        let celebName = cardsData[currentCardIndex]['Celebrity Name'];
        let likes = JSON.parse(localStorage.getItem('likedCelebrities') || '[]');
        likes.push(celebName);
        localStorage.setItem('likedCelebrities', JSON.stringify(likes));

        moveToNextCard();
      }
    }


    function updateProgressBar() {
      const progress = (currentCardIndex / cardsData.length) * 100;
      document.getElementById('progressBar').style.width = progress + '%';
    }


    function moveToNextCard() {
      currentCardIndex++;
      swipeCount++;
      displayNextCard();
      swipeCountElement.textContent = 'Swipe count: ' + swipeCount + '/' + maxSwipes;
      updateProgressBar();

      if (swipeCount === maxSwipes || currentCardIndex >= cardsData.length) {
        document.getElementById('swipeLeftButton').style.display = 'none';
        document.getElementById('swipeRightButton').style.display = 'none';
        document.querySelector('.like-image').style.display = 'none';
        document.querySelector('.dislike-image').style.display = 'none';
        document.getElementById('resultsButton').style.display = 'block';
      }
    }

    function submitSwipesAndCheckResults() {
      const postData = {
        likes: JSON.parse(localStorage.getItem('likedCelebrities') || '[]'),
        dislikes: JSON.parse(localStorage.getItem('dislikedCelebrities') || '[]'),
      };

      fetch('/swipe', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(postData),
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to submit swipes');
          }
          return fetch('/get_updated_matches');
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to fetch updated matches');
          }
          return response.json();
        })
        .then(updatedMatches => {
          localStorage.setItem('data', JSON.stringify(updatedMatches));
          localStorage.removeItem('likedCelebrities');
          localStorage.removeItem('dislikedCelebrities');
          window.location.href = '/output';
        })
        .catch(error => console.error('Error:', error));
    }

    function sendSwipeRequest(direction) {
      // Send AJAX request to the server
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/swipe", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          console.log("Swipe request sent successfully.");
        }
      };
      xhr.send(JSON.stringify({ direction: direction }));
    }
    window.addEventListener('load', fetchAndDisplayMatches);

    document.addEventListener('keydown', function (event) {
      if (document.getElementById('swipeLeftButton').style.display !== 'none' &&
        document.getElementById('swipeRightButton').style.display !== 'none') {
        if (event.keyCode === 37) { // Left arrow key
          swipeLeft();
        } else if (event.keyCode === 39) { // Right arrow key
          swipeRight();
        }
      }
    });

  </script>


</body>

</html>